<div class="vehicle-selector-page">
	<h1 class="title">Vehicle Selector Page</h1>
	<section class="selector-options-section">
		<label class="option-title">Choose Selector</label>
		<mat-radio-group [value]="selectedSelector" (change)="onChangeSelector($event)">
			<mat-radio-button class="example-margin" value="mmy">MMY</mat-radio-button>
			<mat-radio-button class="example-margin" value="ymm">YMM</mat-radio-button>
		</mat-radio-group>
	</section>
	<section>
		<vehicle-selector-comp *ngIf="selectedSelector === 'ymm'"
			(onShowLoader)="onShowLoader($event)"
			(onDoneSelectorEvent)="onFinishedSelector($event)"
			[ruleSelector]="ymmRule"></vehicle-selector-comp>
		<vehicle-selector-comp *ngIf="selectedSelector === 'mmy'"
			(onShowLoader)="onShowLoader($event)"
			(onDoneSelectorEvent)="onFinishedSelector($event)"
			[ruleSelector]="mmyRule"></vehicle-selector-comp>
	</section>
	<div class="vehicle_section" *ngIf="vehicles">
		<div *ngFor="let vehicle of vehicles">
			{{vehicle.name}}
		</div>
		<p *ngIf="vehicles.length === 0">There is no vehicle with selectors</p>
	</div>
	<div class="loader-container" *ngIf="isShowLoader">
		<mat-spinner></mat-spinner>
	</div>
</div>
